@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
        background-color: #24252A;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        }
        
li,a,p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#ffffff;
    text-decoration: none;
}

header{
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0px 2px 4px 2px black;
}

.logo{
    cursor: pointer;
}

.nav-links{
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    padding: 30px 10%;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
    }

    .logo{
        cursor: pointer;
    }
    
    .footer-links{
        list-style: none;
    }
    
    .footer-links li {
        display: inline-block;
        padding: 0px 20px;
    }

    footer p {
        margin-top: 10px;
    }